*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "kalam";
    transition: all 3s;
}
#emoji-search{
    padding: 1rem 2rem;
    background-color: gray;
    position: sticky;
    top: 0;
    left: 0;
}
#emoji-search h1{
    font-size: 1.5rem;
    text-shadow: 0.2rem 0.2rem 0.3rem white;
    margin-bottom: 0.5rem;
    text-align: center;
}
form{
    padding-top:1rem;
    padding-bottom: 0.1rem;
}
form input{
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 30%;
    font-size: 1rem;
}
form button{
    border: none;
    font-family: "kalam";
    font-size: 1.2rem;
    margin-left: 2rem;
    border-radius: 0.5rem;
    padding: 0.2rem 1.5rem;
    box-shadow: 0.2rem 0.2rem 1rem 0.1rem white;
    color: white;
    background-color: red;
}
form button:hover{
    background-color: black;
    color:red;
    box-shadow: 0.2rem 0.2rem 1rem 0.1rem red;
}
.parent{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    width: 75%;
    font-size: 1.2rem;
    text-align: start;
    padding:  0.3rem 1rem;
    background-color: black;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.15rem 0.2rem 0.2rem gray;
    color: white;
}
.parent:hover{
    background-color: transparent;
    color:yellow;
    text-shadow: 0.2rem 0.2rem 0.3rem black;
    font-weight: 700;
}
#wrapper .results{
    padding-left: 2rem;
    padding-top: 1rem;
    background-image: url("kameron-kincade-W9xsJaQBjR0-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.emoji-img{
    width: 15%;
    font-size: 1.5rem;
}
.alias{
    width: 40%;
}
.emoji{
    width: 40%;
}